* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    padding: 20px;
}


.bengali-text {
    color: red;
}

.english-text {
    color: rgb(0, 204, 27);
}

.arabic-text {
    color: rgb(42, 173, 248);
}

.chinese-text {
    color: rgb(39, 1, 211);
    font-family: Arial, sans-serif;
}

.korean-text {
    color: rgb(37, 169, 173);
    font-family: 'Times New Roman', Times, serif;
}