* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    padding: 20px;
}


.bengali {
    color: red;
    border: 1px solid red;
    background-color: rgb(113, 230, 89);
    padding: 1px;
}

.english {
    color: green;
    border-bottom: 2px solid green;
    background-color: lightblue;
}

.arabic {
    color: blue;
    border: 1px solid purple;
}

.chinese {
    color: purple;
}

.korean {
    color: orange;
}